body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tile {
  width: 40px;
  height: 40px;
  /*border: 1px solid #929292;*/
}

.row {
  display: flex;
}

.board {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #696969;
}
